body {
    text-align: center;
    background: rgb(67,137,162);
    background: linear-gradient(180deg, rgba(67,137,162,1) 0%, rgba(92,37,141,1) 100%);
    display: flex;
    justify-content: center;
    min-height: 100%;
    text-decoration: none;
}
html {
   height: 100%;
}

h2 {
    margin: 20px 0px 0px 0px;
    color: #CD51AE;
    font-size: 40px;
    text-align: center;
    font-family: Trebuchet MS;
}

h3{
    color: #8A5CC1;
    text-align: center;
    padding: 10px 25%;
    font-family: Trebuchet MS;
    min-width: 500px;
}

h4{
    color: #8A5CC1;
    text-align: center;
    margin: 20px 50px 0px 50px;
    font-family: Trebuchet MS;
}

p {
    color: #779BE7;
    font-size: 90px;
    margin: 70px 20px 100px 20px;
    font-family: Trebuchet MS;
}

.inputbox{
    font-size: 32px;
    width: 500px;
    height: 50px;
    margin: 20px 20px 40px 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-family: Trebuchet MS;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.inputbutton{
    display: flex;
    justify-content: center;
    gap: 5px;
}

a {
  position: relative;
  top: %80;
  padding: 0px 50px;
  display: block;
  text-transform: uppercase;
  width: 250px;
  overflow: hidden;
  margin: 0px 0px 50px 0px;
  border-radius: 40px;
}
#homepage{
    color: #638CE3;
    font-size: 90px;
    margin: 50px 20px 80px 20px;
    font-family: Trebuchet MS;
    text-decoration: none;
    width: auto;

}

#button2{
    letter-spacing: 2px;
}
#liq2 {
    background: #F3A068;
}
a input {
  font-family: Trebuchet MS;
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  left: -50px;
  width: 250px;
  font-size: 12px;
  font-weight: bold;
  height: 50px;
  color: #fff;
  letter-spacing: 3px;
  z-index: 1;
}


a .liquid {
  position: absolute;
  top: -90px;
  left: 0;
  width: 250px;
  height: 200px;
  background: #779BE7;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
}

a .liquid::after,
a .liquid::before {
  content: '';
  width: 200%;
  height: 250%;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

a .liquid::before {

  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

a .liquid::after {

  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
}

a:hover .liquid{
  top: -130px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.info{
    display: flex;
    justify-content: center;
    width: %50;

}