<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
<form action={{action}} method="post">
    <a id="homepage" href="/">Giveamovie</a>
    <input type="text" value="{{input_movie}}" name="movie_input" placeholder="Enter a movie name" class="inputbox">
    <br>
    <div class="info">
        <h2> {{name}} {{get_flashed_messages()[0]}}
        </h2>
    </div>
    <h3>{{overview}}</h3>

    <div class="info">
        <h4>{{runtime}} {{get_flashed_messages()[1]}}</h4>
        <h4>{{get_flashed_messages()[2]}} {{rating}}</h4>
    </div>
    <br>
    <br>
    <div class="inputbutton">
        <a>
            <input class="inputbutton" id="button2" type="submit" value="Get Another Recommendation" id="recommend1">
            <div class="liquid" id="liq2" ></div>
        </a>
    </div>

    <!--        {% for message in get_flashed_messages() %}-->
    <!--        <h2> {{message}} </h2>-->
    <!--        {% endfor %}-->


</form>
</body>
</html>